.header{
  position: fixed;
  top:30px;
  left:100px;
}

.previous{
  border:none;
  font-size:30px;
  background-color: rgba(0,0,0,0.5);
  color:white;
  width:40px;
  text-align: center;
  border-radius: 20px;
  transform: rotate(240deg);
}
.forward{
  border:none;
  font-size:30px;
  background-color: rgba(0,0,0,0.5);
  color:white;
  width:40px;
  text-align: center;
  border-radius: 20px;
  transform: rotate(90deg);
  margin-left:2px;
}
.upgrade{
  margin-left:870px;
  background-color:white;
  color:black;
  font-weight:900;
  width:80px;
  height:30px;
  border:none;
  border-radius:20px;
  transition: transform 0.1s, color 0.1s;
}
.upgrade:hover{
  transform: scale3d(1.05,1.05,1.05);
  background-color:rgb(246, 254, 255);
}


.install{
  background-color:rgba(0,0,0,0.3);
  color:white;
  font-weight:700;
  width:110px;
  height:30px;
  border:none;
  border-radius:20px;
}
.install:hover{
  transform: scale3d(1.05,1.05,1.05);
}

.image-container{
  position: absolute;
  top:5px;
  right:-45px;
  background-color: rgba(0,0,0,0.3);
  width:40px;
  height:40px;
  border-radius: 20px;
}
.image-container .tooltip{
  font-family:'DM Sans', sans-serif;
  position:absolute;
  background-color:rgb(28, 26, 26);
  color:white;
  padding:4px 8px 4px 8px;
  border-radius:2px;
  font-size:16px;
  bottom: -35px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space:nowrap;
  box-shadow: 1px 3px 10px rgba(10,10,10, 0.9);
  }
  .image-container:hover .tooltip{
    opacity:1;
  }
.account-picture{
  position:relative;
  top:5px;
  bottom:2.5px;
  right:1px;
  left:5px;
  width:30px;
  border-radius:15px;
}
