.main{
  background-image:linear-gradient(180deg, rgb(57, 21, 75), rgb(10, 10, 10)500px);

  margin-left: 80px;
  margin-top:0px;
  width:1260px;
  height:770px;
  BORDER-RADIUS:7PX;
}

.greetings{
  padding-top:80px;
  padding-left:30px;
  font-size:30px;
  font-weight: 900;
}

.upper{
  margin-top:30px;
  margin-left:30px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap:5px;
}

.small-card-1{
  border-radius: 4px;
  background-color:rgb(37, 37, 37);
  width:380px;
  height:80px;
  display:flex;
  flex-direction: row;
  align-items: center;
  transition: background-color 0.2s;
}
.small-card-1:hover{
  background-color: rgba(110, 110, 110,0.5);
}


.liked-songs-icon{
  margin-top:5px;
  width:80px;
  border-radius: 4px 0px 0px 4px;
}
.liked-songs-text{
  margin-left:15px;
  font-size:16px;
  font-weight: 900;
}

.jump{
  padding-top:30px;
  padding-left:30px;
  font-size:25px;
  font-weight: 900;
}

.lower{
  padding-left:30px;
  padding-top:20px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}


.lower-container1{
  background-color:rgb(26, 26, 26);
  width:180px;
  height:260px;
  border-radius:5px;
  transition: all 0.25s;
}
.lower-container1:hover{
  background-color:rgba(110, 110, 110,0.5);
  transform: translateY(-20px);
}

.lower-container2{
  background-color:rgb(26, 26, 26);
  width:180px;
  height:260px;
  border-radius:5px;
  transition: all 0.25s;
}
.lower-container2:hover{
  background-color:rgba(110, 110, 110,0.5);
  transform: translateY(-20px);
}

.lower-container3{
  background-color:rgb(26, 26, 26);
  width:180px;
  height:260px;
  border-radius:5px;
  transition:all 0.25s;
}
.lower-container3:hover{
  background-color:rgba(110, 110, 110,0.5);
  transform: translateY(-20px);
}

.lower-container4{
  background-color:rgb(26, 26, 26);
  width:180px;
  height:260px;
  border-radius:5px;
  transition: all 0.25s;
}
.lower-container4:hover{
  background-color:rgba(110, 110, 110,0.5);
  transform: translateY(-20px);
}

.lower-container5{
  background-color:rgb(26, 26, 26);
  width:180px;
  height:260px;
  border-radius:5px;
  transition: all 0.25s;
}
.lower-container5:hover{
  background-color:rgba(110, 110, 110,0.5);
  transform: translateY(-20px);
}

.lower-container6{
  background-color:rgb(26, 26, 26);
  width:180px;
  height:260px;
  border-radius:5px;
  transition: all 0.25s;
}
.lower-container6:hover{
  background-color:rgba(110, 110, 110,0.5);
  transform: translateY(-20px);
}



.lower-image{
  width:150px;
  position: relative;
  top:15px;
  left:15px;
  border-radius:5px;
}
.text{
  padding-left:15px;
  padding-top:10px;
}
.upper-text{
  padding-top:10px;
  font-size:15px;
  font-weight:900;
}
.lower-text{
  padding-top:10px;
  font-size:13px;
  font-weight:500;
  color:rgb(153, 153, 153);
}

